$color-black: #2B2B2B;
$gradient-one: #11998e;
$gradient-two: #38ef7d;

// menu nav bar
.navBar.banner {
    background-color: #fff;
    z-index: 50;
}
// hero
.hero.full-width-image {
    padding: 0;
    margin: 0;
    z-index: 1;
}
// nav logo
.logo.nav-logo {
    height: 80%;
    width: auto;
    z-index: 90;
}
// nav links

.border-gradient {
    overflow: visible;
    transition: width 2s;
    width: 0%;
    border-bottom: 2px solid $color-black;
    padding-bottom: 1rem;
    &:hover {
        width: 100%
    }
    .drawer-link {
        color: $color-black;
        text-decoration: none;
        font-weight: 500;
        
        margin: 0;
    &:hover {
        font-weight: 700;
    }
}
}
// main product page layout
.image-grid.product-list {
    padding: {
        bottom: 2vh;
    };
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
// product cards 
.product-card.product-container {
    padding: 2vw;
}

@media (max-width: 1200px){
    html {
        font-size: 16px;
    }
}
@media (max-width: 2000px){
    html {
        font-size: 12px;
    }
}